# Copy to .env and fill in your Personal Access Token
AIRTABLE_PAT=patXXXXXXXX

VITE_AIRTABLE_BASE_ID=appT48di3I5t3JXTc
VITE_DEV_USER_EMAIL=you@example.com
VITE_DEV_USER_NAME=Your Name
VITE_DEV_USER_ID=
