/* Calibre / Financier Display are licensed brand fonts — not on Google Fonts.
   Use Inter + system/Noto fallbacks for standalone. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

:root {
  --colors-core_palette-primary-1: #003F2D;
  --colors-core_palette-primary-2: #17E88F;
  --colors-core_palette-primary-3: #012A2D;
  --colors-core_palette-primary-4: #435254;
  --colors-core_palette-primary-5: #CAD1D3;
  --colors-core_palette-primary-6: #DADFE0;
  --colors-brand-secondary-1: #032842;
  --colors-brand-secondary-2: #538184;
  --colors-brand-secondary-3: #80BBAD;
  --colors-brand-secondary-4: #DBD99A;
  --colors-brand-secondary-5: #7F8480;
  --colors-brand-secondary-light-1: #778F9C;
  --colors-brand-secondary-light-2: #96B3B6;
  --colors-brand-secondary-light-3: #C0D4CB;
  --colors-brand-secondary-light-4: #EFECD2;
  --colors-brand-secondary-light-5: #CBDDC8;
  --colors-semantic-text: #435254;
  --colors-semantic-black: #4D4D4D;
  --colors-semantic-white: #FFFFFF;
  --colors-semantic-error: #E81717;
  --colors-semantic-warning: #F1D230;
  --colors-semantic-surface: #E6EAEA;
  --colors-semantic-system-1: #000000;
  --colors-semantic-system-2: #1A1A1A;
  --colors-semantic-system-3: #333333;
  --colors-semantic-system-4: #4D4D4D;
  --colors-semantic-system-5: #666666;
  --colors-semantic-system-6: #808080;
  --colors-semantic-system-7: #999999;
  --colors-semantic-system-8: #B3B3B3;
  --colors-semantic-system-9: #CCCCCC;
  --colors-semantic-system-10: #E6E6E6;
  --colors-semantic-system-11: #FFFFFF;
  --typography-fontFamily-sans: 'Inter', Arial, sans-serif;
  --typography-fontFamily-serif: 'Noto Serif', Georgia, serif;
  --typography-fontFamily-mono: 'Space Mono', monospace;
  --typography-fontFamily-noto-serif: 'Noto Serif', 'georgia', serif;
  --typography-fontFamily-noto-sans: 'Noto Sans', 'arial', sans-serif;
  --typography-fontSize-10: 1rem;
  --typography-fontSize-12: 1.2rem;
  --typography-fontSize-14: 1.4rem;
  --typography-fontSize-16: 1.6rem;
  --typography-fontSize-18: 1.8rem;
  --typography-fontSize-20: 2rem;
  --typography-fontSize-22: 2.2rem;
  --typography-fontSize-24: 2.4rem;
  --typography-fontSize-32: 3.2rem;
  --typography-fontSize-34: 3.4rem;
  --typography-fontSize-36: 3.6rem;
  --typography-fontSize-48: 4.8rem;
  --typography-fontSize-60: 6rem;
  --typography-fontWeight-light: 300;
  --typography-fontWeight-normal: 400;
  --typography-fontWeight-medium: 500;
  --typography-fontWeight-heavy: 600;
  --typography-fontWeight-bold: 700;
  --typography-lineHeight-tight: 1.2;
  --typography-lineHeight-snug: 1.3;
  --typography-lineHeight-normal: 1.4;
  --typography-lineHeight-relaxed: 1.5;
  --typography-lineHeight-loose: 1.6;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --shape-borderRadius-none: 0px;
  --shape-borderRadius-sm: 2px;
  --shape-borderWidth-default: 1px;
  --shape-boxShadow-none: 0px 0px 0px 0px transparent;
}
